footer {
    background-color: black;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

footer p {
    font-size: 5px;
}