nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 5px;
}

nav h3 {
    color: white;
    font-size: 25px;
}


.nav_list:hover {
    background-color: black;
    color: rgb(188, 188, 188);
}

.nav_title:hover {
    color: white;
}