nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
}

nav h3 {
    color: white;
    font-size: 25px;
}

nav ul {
    margin-right: 70px;
}
.nav_list:hover {
    background-color: black;
    color: rgb(188, 188, 188);
}

.nav_title:hover {
    color: white;
}